body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b3536;
}

header {
    text-align: center;
    padding: 30px;
    color: #fff;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    section {
        padding: 10px;
        margin: 10px;
    }
}